<H1>BIBLIOTECA UDENAR</H1>
<p></p>

<p style=”text-align:justify”> BIBLIOTECA UDENAR Algunos servicios como la 
  consulta en sala de la colección general de la biblioteca central en la sede Torobajo, 
  es de acceso abierto para el público en general; otros servicios como el préstamo externo de material bibliográfico, 
  en todas las bibliotecas, es exclusivo para la comunidad universitaria (estudiantes, docentes o funcionarios).</p>

<p> ⌚ De 09:00 a.m. a 12:00 m. </p>
<p> ⌚ De 01:00 p.m. a 04:00 p.m.</p>

<p> Tener en cuenta que para el préstamo de libros a domicilio o visualizar online se requiere haberse registrado.</p>
<p> </p>



